$font-baloo : "Baloo Thambi 2" , cursive;
$font-raleway : "Raleway" , cursive;
$font-rubik : "Rubik" , cursive;
$font-opensans: "Open Sans", cursive;
$color-primary: #003859;
$color-second : #00A5C4;
$color-yellow: #FFFF00; 
$color-red: red;
$color-red-2: #bb0c23;
